<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织机构列表</title>
    <meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/tableStyle.js"></script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            //第一个实例
            var tableIns=table.render({
                elem: '#pageContent'
                ,url: '/generate/dataTable/list' //数据接口
                ,where:$("#pageForm").serializeJson()
                ,request:{
                    pageName: 'pageNum', //页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,page: true //开启分页
                ,cols: [[ //表头
                    {title: '序号', width:80, templet: function (d) {
                            return d.LAY_TABLE_INDEX+1
                        }}
                    ,{field: 'name', title: '别名'}
                    ,{field: 'tableName', title: '数据库表名'}
                ]]
            });
            //监听行单击事件
            table.on('row(pageTable)', function(obj){
                $(".selected").removeClass("selected");
                $(obj.tr).addClass("selected");
                selectId=obj.data.id;
            });
            init=function(){
                getContent(1);
            };
             getContent=function(pageNum){
                selectId=undefined;
                 tableIns.reload({
                     where:$("#pageForm").serializeJson()
                 });
            }
            rest=function(){
                $("#SEARCH_AND_name_LIKE").val("");
                $("#SEARCH_AND_tableName_LIKE").val("");
                getContent(1);
            }
             add=function(title,url,width,height){
                top.openDialog(title,url,width,height)
            }


             edit=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要修改的记录");
                    return;
                }
                top.openDialog(title,url+"?id="+selectId,width,height)
            }
             detail=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要查看的记录");
                    return;
                }
                top.openDialog(title,url+"/"+selectId,width,height)
            }
             fieldManage=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要管理的记录");
                    return;
                }
                top.openDialog(title,url+"?tableId="+selectId,width,height)
            }
             generate=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要生成代码的记录");
                    return;
                }
                top.openDialog(title,url+"?id="+selectId,width,height)
            }
             del=function(title,url,width,height) {
                if(!selectId){
                    layer.msg("请选择需要删除的记录");
                    return;
                }
                layer.confirm('您确定要删除所选信息吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //按钮【按钮一】的回调
                    $.ajax({
                        url:url+"?id="+selectId,
                        success:function(data){
                            if(data.success){
                                layer.msg( "删除成功");
                                getContent(1);
                            }else{
                                layer.msg(data.message?data.message:"操作失败");
                            }
                        }
                    });
                }, function(index){
                    //按钮【按钮二】的回调
                });
            }
             initFromDatabase=function(){
                layer.confirm('您确定要初始化数据库表吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //按钮【按钮一】的回调
                    $.ajax({
                        url:"/generate/dataTable/initFromDatabase",
                        success:function(data){
                            if(data.success){
                                layer.msg( "操作成功");
                                getContent(1);
                            }else{
                                layer.msg(data.message?data.message:"操作失败");
                            }
                        }
                    });
                }, function(index){
                    //按钮【按钮二】的回调
                });
            }
        });

    </script>



</head>
<body>
<div class="layui-row">
    <div class="col-xs-12" style="text-align: right;">
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="initFromDatabase()">数据库表初始化</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="add('新增','/generate/dataTable/edit',800,600)">新增表</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="edit('修改','/generate/dataTable/edit',800,600)">修改表</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="detail('查看','/generate/dataTable/detail',800,600)">查看表</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="del('删除','/generate/dataTable/delete',800,600)">删除表</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="fieldManage('字段管理','/generate/dataTableField/index',1000,600)">字段管理</button>
        <button class="btn btn-sm btn-white btn-default btn-round" onclick="generate('代码生成','/generate/dataTable/generateIndex',800,600)">代码生成</button>
    </div>
    @include("../../include/action.html"){};
    <form class="layui-form" action="/generate/dataTable/list"  method="post"  id="pageForm"
          onsubmit="return false;">
        <input type="hidden" id="orderBy" name="orderBy" value=" id_desc"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-inline" >
                    <input type="search" class="layui-input"  id="SEARCH_AND_name_LIKE" name="SEARCH_AND_name_LIKE"  placeholder=""  >
                </div>
                <label class="layui-form-label">表名:</label>
                <div class="layui-input-inline" >
                    <input type="search" class="layui-input"    id="SEARCH_AND_tableName_LIKE" name="SEARCH_AND_tableName_LIKE" placeholder=""  >
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn"  onclick="getContent()">搜索</button>
                    <button  class="layui-btn layui-btn-primary" onclick="rest()">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="pageContent" style="padding-top: 10px;" lay-filter="pageTable"></div>
</body>
</html>
