<table  class="layui-table">
    <thead>
    <tr role="row">
        <th lay-data="{field:'index', width:80}">
            序号
        </th>
        <th lay-data="{field:'id'}">
            id
        </th>
        <th lay-data="{field:'name'}">
            供应商名称
        </th>
        <th lay-data="{field:'address'}">
            地址
        </th>
        <th lay-data="{field:'region'}">
            区域
        </th>
        <th lay-data="{field:'link_man'}">
            联系人
        </th>
        <th lay-data="{field:'link_tel'}">
            联系电话
        </th>
        <th lay-data="{field:'shotr_name'}">
            简称
        </th>
        <th lay-data="{field:'legal'}">
            法人
        </th>
        <th lay-data="{field:'license'}">
            营业执照
        </th>
        <th lay-data="{field:'pay_type'}">
            付款方式
        </th>
        <th lay-data="{field:'email'}">
            邮箱
        </th>
    </tr>
    </thead>


    <tbody>
        @for(item in page.list){
        <tr role="row">
            <td class="center">
                <input type="hidden" value="${item.id}"/>
                ${itemLP.index}
            </td>
            <td class="center">
                ${item.id!}
            </td>
            <td class="center">
                ${item.name!}
            </td>
            <td class="center">
                ${item.address!}
            </td>
            <td class="center">
                ${item.region!}
            </td>
            <td class="center">
                ${item.linkMan!}
            </td>
            <td class="center">
                ${item.linkTel!}
            </td>
            <td class="center">
                ${item.shotrName!}
            </td>
            <td class="center">
                ${item.legal!}
            </td>
            <td class="center">
                ${item.license!}
            </td>
            <td class="center">
                ${item.payType!}
            </td>
            <td class="center">
                ${item.email!}
            </td>
        </tr>
        @}
    </tbody>
</table>
<div class="pagination" id="Pagination" >

</div>
<script>
    layui.use(['laypage','table'], function(){
        var table = layui.table;
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'Pagination' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: ${page.pages} //数据总数，从服务端得到
            ,curr: ${page.pageNum}
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    getContent(obj.curr);
                }
            }
        });
        table.init('parse-table-demo', { //转化静态表格
        });
    });
</script>