<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商表</title>
    <meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="/static/ace/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/tableStyle.js"></script>
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" href="${ctx}layui/css/layui.css"/>
    <link rel="stylesheet" href="${ctx}css/common.css"/>
    <script src="${ctx}layui/layui.js"></script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            var clos=[];

            //第一个实例
            var tableIns=table.render({
                elem: '#supplierPageContent'
                ,url: '/cwgl/supplier/list' //数据接口
                ,where:$("#supplierPageForm").serializeJson()
                ,request:{
                    pageName: 'pageNum', //页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,page: true //开启分页
                ,cols: [[ //表头
                    {title: '序号', width:80, templet: function (d) {
                            return d.LAY_TABLE_INDEX+1
                        }}
                    ,{field: 'name', title: '供应商名称'}
                    ,{field: 'shotrName', title: '简称'}
                    ,{field: 'linkMan', title: '联系人'}
                    ,{field: 'linkTel', title: '联系电话'}
                    ,{field: 'address', title: '地址'}
                    ,{field: 'region', title: '区域',templet:function(d){
                            return getRegionName(d.region,true);
                        }}
                    ,{field: 'legal', title: '法人'},{field: 'status', title: '操作',  toolbar: '#toolBars'}
                ]]
            });

            //监听行工具事件
            table.on('tool(supplierPageTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                if(layEvent === 'select'){
                    top.selectedSupplier(data,${isIndex!false});
                }
            });
            //监听行单击事件
            table.on('row(supplierPageTable)', function(obj){
                $(".selected").removeClass("selected");
                $(obj.tr).addClass("selected");
                selectId=obj.data.id;
            });
            init=function(){
                getContent(1);
            };
            getContent=function(pageNum){
                selectId=undefined;
                tableIns.reload({
                    where:$("#supplierPageForm").serializeJson()
                });
            };
            rest=function(){
                $("#SEARCH_AND_name_LIKE").val("");
                $("#SEARCH_AND_shotrName_LIKE").val("");
                $("#SEARCH_AND_linkMan_LIKE").val("");
                getContent(1);
            }
            add=function(title,url,width,height){
                top.openDialog(title,url,width,height)
            };


            edit=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要修改的记录");
                    return;
                }
                top.openDialog(title,url+"?id="+selectId,width,height)
            };
            detail=function(title,url,width,height){
                if(!selectId){
                    layer.msg("请选择需要查看的记录");
                    return;
                }
                top.openDialog(title,url+"/"+selectId,width,height)
            };
            del=function(title,url,width,height) {
                if(!selectId){
                    layer.msg("请选择需要删除的记录");
                    return;
                }
                layer.confirm('您确定要删除所选信息吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //按钮【按钮一】的回调
                    $.ajax({
                        url:url+"?id="+selectId,
                        success:function(data){
                            if(data.success){
                                layer.msg( "删除成功");
                                getContent(1);
                            }else{
                                layer.msg(data.message?data.message:"操作失败");
                            }
                        }
                    });
                }, function(index){
                    //按钮【按钮二】的回调
                });
            };
        });
    </script>
</head>
<body>
<div class="layui-row">
    @include("../../include/action.html"){};
    <form class="layui-form" action="/cwgl/supplier/list"  method="post"  id="supplierPageForm"
          onsubmit="return false;">
        <input type="hidden" id="orderBy" name="orderBy" value=" id_desc"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">供应商名称:</label>
                <div class="layui-input-inline" >
                    <input type="search" class="layui-input"  id="SEARCH_AND_name_LIKE"  name="SEARCH_AND_name_LIKE"  placeholder="请输入供应商名称"  >
                </div>
                <label class="layui-form-label">简称:</label>
                <div class="layui-input-inline" >
                    <input type="search" class="layui-input"  id="SEARCH_AND_shotrName_LIKE"  name="SEARCH_AND_shotrName_LIKE"  placeholder="请输入简称"  >
                </div>
                <label class="layui-form-label">联系人:</label>
                <div class="layui-input-inline" >
                    <input type="search" class="layui-input"  id="SEARCH_AND_linkMan_LIKE"  name="SEARCH_AND_linkMan_LIKE"  placeholder="请输入联系人"  >
                </div>
                <!--            <label>名称:<input type="search" id="SEARCH_AND_name_LIKE" name="SEARCH_AND_name_LIKE"  placeholder=""  ></label>-->
                <div class="layui-input-inline">
                    <button class="layui-btn"  onclick="getContent()">搜索</button>
                    <button  class="layui-btn layui-btn-primary" onclick="rest()">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="supplierPageContent" style="padding-top: 10px;" lay-filter="supplierPageTable"></div>
<script type="text/html" id="toolBars">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="select">选择</a>
</script>
</body>
</html>