<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签收单</title>
    <meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/tableStyle.js"></script>
    <script src="/My97DatePicker/WdatePicker.js"></script>
    <script>
        layui.use(['table','form'], function(){
            var table = layui.table;
            var form = layui.form;
            var clos=[];
            form.render(); //更新全部
            //第一个实例
            var tableIns=table.render({
                    elem: '#receiptFormPageContent'
                    ,url: '/cwgl/receiptForm/list' //数据接口
                    ,where:$("#receiptFormPageForm").serializeJson()
                    ,request:{
                        pageName: 'pageNum', //页码的参数名称，默认：page
                        limitName: 'pageSize' //每页数据量的参数名，默认：limit
                    }
                    ,page: true //开启分页
                    ,cols: [[ //表头
                        {title: '序号', width:80, templet: function (d) {
                            return d.LAY_TABLE_INDEX+1
                        }}
                            ,{field: 'projectName', title: '项目'}
                            ,{field: 'supplierName', title: '供应商'}
                            ,{field: 'receiptTime', title: '签收日期'}
                            ,{field: 'receiptContent', title: '签收内容'}
                            ,{field: 'money', title: '总金额'}
                            ,{field: 'status', title: '状态', templet: function (d) {
                                if(d.status==1){
                                    return "已付款";
                                }else{
                                    return "待付款";
                                }
                        }}
                    ]]
        });
        //监听行单击事件
        table.on('row(receiptFormPageTable)', function(obj){
            $(".selected").removeClass("selected");
            $(obj.tr).addClass("selected");
            selectId=obj.data.id;
        });
        init=function(){
            getContent(1);
        };
        getContent=function(pageNum){
            selectId=undefined;
            tableIns.reload({
                where:$("#receiptFormPageForm").serializeJson()
        });
        };
        rest=function(){
            $("#SEARCH_AND_supplierId_EQ").val("");
            $("#supplierName").val("");
            $("#SEARCH_AND_projectId_EQ").val("");
            $("#projectName").val("");
            $("#SEARCH_AND_receiptContent_LIKE").val("");
            $("#SEARCH_AND_receiptTime_GTE").val("");
            $("#SEARCH_AND_receiptTime_LTE").val("");
            $("#SEARCH_AND_status_EQ").val("");
            form.render(); //更新全部
            getContent(1);
        }
        add=function(title,url,width,height){
            top.openDialog(title,url,width,height)
        };


        edit=function(title,url,width,height){
            if(!selectId){
                layer.msg("请选择需要修改的记录");
                return;
            }
            top.openDialog(title,url+"?id="+selectId,width,height)
        };
        detail=function(title,url,width,height){
            if(!selectId){
                layer.msg("请选择需要查看的记录");
                return;
            }
            top.openDialog(title,url+"/"+selectId,width,height)
        };
        del=function(title,url,width,height) {
            if(!selectId){
                layer.msg("请选择需要删除的记录");
                return;
            }
            layer.confirm('您确定要删除所选信息吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function(index, layero){
                //按钮【按钮一】的回调
                $.ajax({
                    url:url+"?id="+selectId,
                    success:function(data){
                        if(data.success){
                            layer.msg( "删除成功");
                            getContent(1);
                        }else{
                            layer.msg(data.message?data.message:"操作失败");
                        }
                    }
                });
            }, function(index){
                //按钮【按钮二】的回调
            });
        };

         selectSupplierIndex= function(){
            openDialog("选择供应商","/cwgl/supplier/listForSelect?isIndex=true",1000,800);
        };
         selectedSupplierIndex=function(data){
            $("#SEARCH_AND_supplierId_EQ").val(data.id);
            $("#supplierName").val(data.name);
        };

         selectProjectIndex=function(){
            top.openDialog("选择项目","/cwgl/project/listForSelect?isIndex=true",1000,800);
        };
         selectedProjectIndex=function(data){
            $("#SEARCH_AND_projectId_EQ").val(data.id);
            $("#projectName").val(data.name);
        }

        });
    </script>
</head>
<body>
<div class="layui-row">
    @include("../../include/action.html"){};
    <form class="layui-form" action="/cwgl/receiptForm/list"  method="post"  id="receiptFormPageForm"
          onsubmit="return false;">
        <input type="hidden" id="orderBy" name="orderBy" value=" id_desc"/>
        <div class="test-table-reload-btn">
            <div class="layui-inline">
                供应商:
                <div class="layui-inline" >
                    <input class="layui-input"
                           name="SEARCH_AND_supplierId_EQ" type="hidden" id="SEARCH_AND_supplierId_EQ" placeholder="请输入供应商ID"
                           />
                    <input type="search" class="layui-input"  readonly onclick="selectSupplierIndex()" id="supplierName"  name="supplierName"  placeholder="请选择供应商"  >
                </div>
                所属项目:
                <div class="layui-inline" >
                    <input class="layui-input"
                           name="SEARCH_AND_projectId_EQ" type="hidden" id="SEARCH_AND_projectId_EQ" placeholder="请输入供应商ID"
                    />
                    <input type="search" class="layui-input"  readonly onclick="selectProjectIndex()" id="projectName"  name="projectName"  placeholder="请选择项目"  >
                </div>
                签收内容:
                <div class="layui-inline" >
                    <input type="search" class="layui-input"  id="SEARCH_AND_receiptContent_LIKE"  name="SEARCH_AND_receiptContent_LIKE"  placeholder="请输入签收内容"  >
                </div>
               付款状态:
                <div class="layui-inline" >
                    <select  id="SEARCH_AND_status_EQ" class="searchSelect"  name="SEARCH_AND_status_EQ" >
                        <option value=""></option>
                        <option value="0">待付款</option>
                        <option value="1">已付款</option>
                    </select>
                </div>
                签收日期:
                <div class="layui-inline" >
                    <input type="search" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="layui-input search-between-date"  id="SEARCH_AND_receiptTime_GTE"  name="SEARCH_AND_receiptTime_GTE"  placeholder="请输入签收日期"  >
                    -
                    <input type="search" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="layui-input search-between-date"  id="SEARCH_AND_receiptTime_LTE"  name="SEARCH_AND_receiptTime_LTE"  placeholder="请输入签收日期"  >
                </div>
                <!--            <label>名称:<input type="search" id="SEARCH_AND_name_LIKE" name="SEARCH_AND_name_LIKE"  placeholder=""  ></label>-->

                <button class="layui-btn"  onclick="getContent()">搜索</button>
                <button  class="layui-btn layui-btn-primary" onclick="rest()">重置</button>

            </div>
        </div>
    </form>
</div>
<div id="receiptFormPageContent" style="padding-top: 10px;" lay-filter="receiptFormPageTable"></div>
</body>
</html>