<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>查看</title>
    <link rel="stylesheet" href="${ctx}layui/css/layui.css"/>
    <link rel="stylesheet" href="${ctx}css/common.css"/>
    <script src="${ctx}layui/layui.js"></script>
</head>
<body>
<table class=" detail-table">
    <tr>
        <th class="title " style="width: 15%;">所属项目:</th>
        <td class="cell">
            ${data.projectName!}
        </td>

        <th class="title " style="width: 15%;">支出类型:</th>
        <td class="cell">
            ${data.payTypeName!}
        </td>
    </tr>
    <tr>
        <th class="title " style="width: 15%;">支出金额:</th>
        <td class="cell">
            ${data.money!}
        </td>
        <th class="title " style="width: 15%;">支出时间:</th>
        <td class="cell">
            ${strutil.formatDate(data.payTime,'yyyy-MM-dd HH:mm:ss')}
        </td>
    </tr>
    <tr>
        <th class="title " style="width: 15%;">备注:</th>
        <td class="cell" colspan="3">
            ${data.remark!}
        </td>
    </tr>
</table>
<div style="text-align: center;">
    <button class="layui-btn layui-btn-normal"  onclick="top.closeDialog(false)">关闭</button>
</div>
</body>
</html>