<table  class="layui-table">
    <thead>
    <tr role="row">
        <th lay-data="{field:'index', width:80}">
            序号
        </th>
        <th lay-data="{field:'id'}">
            
        </th>
        <th lay-data="{field:'name'}">
            名称
        </th>
        <th lay-data="{field:'code'}">
            编码
        </th>
        <th lay-data="{field:'parent_id'}">
            上级
        </th>
        <th lay-data="{field:'seq'}">
            排序
        </th>
        <th lay-data="{field:'remark'}">
            备注
        </th>
        <th lay-data="{field:'is_delete'}">
            是否删除
        </th>
        <th lay-data="{field:'level'}">
            层级
        </th>
    </tr>
    </thead>


    <tbody>
        @for(item in page.list){
        <tr role="row">
            <td class="center">
                <input type="hidden" value="${item.id}"/>
                ${itemLP.index}
            </td>
            <td class="center">
                ${item.id!}
            </td>
            <td class="center">
                ${item.name!}
            </td>
            <td class="center">
                ${item.code!}
            </td>
            <td class="center">
                ${item.parentId!}
            </td>
            <td class="center">
                ${item.seq!}
            </td>
            <td class="center">
                ${item.remark!}
            </td>
            <td class="center">
                ${item.isDelete!}
            </td>
            <td class="center">
                ${item.level!}
            </td>
        </tr>
        @}
    </tbody>
</table>
<div class="pagination" id="Pagination" >

</div>
<script>
    layui.use(['laypage','table'], function(){
        var table = layui.table;
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'Pagination' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: ${page.pages} //数据总数，从服务端得到
            ,curr: ${page.pageNum}
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    getContent(obj.curr);
                }
            }
        });
        table.init('parse-table-demo', { //转化静态表格
        });
    });
</script>